{
  "semi": true,
  "singleQuote": false,
  "printWidth": 96,
  "tabWidth": 2,
  "trailingComma": "all",
  "tailwindFunctions": ["tw", "tv"],
  "tailwindAttributes": ["tw"],
  "tailwindStylesheet": "./app/global.css",
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": ["*.json"],
      "options": { "trailingComma": "es5" }
    }
  ]
}
