{
  "endOfLine": "lf",
  "bracketSameLine": false,
  "printWidth": 96,
  "singleQuote": true,
  "trailingComma": "es5",
  "tabWidth": 2,
  "arrowParens": "always",
  "semi": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "tailwindConfig": "./app/globals.css",
  "tailwindFunctions": ["tw", "tv"],
  "plugins": ["prettier-plugin-tailwindcss"]
}
