/*********** NAVIGATION STYLES **********/

.header {
  --max-width: 112rem;
  --container-padding: 1.6rem;
  --border-bottom: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: var(--block-padding);
  padding-inline: var(--container-padding);

  display: flex;
  align-items: center;
  border-bottom: var(--border-bottom);

  @media (min-width: 64em) {
    --border-bottom: 1px solid hsl(0 0% 100% / 0.2);
    all: unset;

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: min(var(--max-width), 100% - (var(--container-padding) * 2));
    margin-inline: auto;
    padding-block: var(--block-padding);
    border-bottom: var(--border-bottom);
  }

  &__container {
    --z-index: 999;
    --block-padding: 2.5rem;
    position: fixed;
    z-index: var(--z-index);
    width: 100%;

    @media (min-width: 64em) {
      all: unset;
      position: sticky;
      top: 0;
      z-index: var(--z-index);
      display: block;
    }
  }
}

.logo {
  margin-inline-start: auto;
  margin-inline-end: auto;

  @media (min-width: 40em) {
    margin-inline-start: 12rem;
  }

  @media (min-width: 64em) {
    margin: 0;
  }
}

.primary-nav {
  --background: red;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background);
  transform: scale(1, 0);
  transform-origin: top left 20px;
  transition: transform 400ms ease-in-out;

  @media (max-width: 64em) {
    max-height: 100vh;
  }

  @media (min-width: 64em) {
    all: unset;
    display: block;
  }

  a {
    opacity: 0;
    transition: opacity 300ms ease-in-out;

    @media (min-width: 64em) {
      opacity: 1;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @media (max-width: 64em) {
      max-height: 100vh;
    }

    @media (min-width: 40em) {
      flex-direction: row;
      align-items: center;
      gap: 3rem;
    }
  }

  &__toggle {
    display: none;
  }

  &__toggle:checked ~ & {
    transform: scale(1, 1);

    & a {
      opacity: 1;
      transition: opacity 250ms ease-in-out 250ms;
    }
  }

  &__toggle-label {
    position: relative;
    @media (min-width: 64em) {
      display: none;
    }

    & span,
    & span::before,
    & span::after {
      display: block;
      background: hsl(0 0% 100%);
      height: 0.3rem;
      width: 2.8rem;
      border-radius: 2rem;
    }

    & span::before,
    & span::after {
      content: '';
      position: absolute;
    }

    & span::before {
      bottom: 0.7rem;
    }
    & span::after {
      top: 0.7rem;
    }
  }
}

/*******************************************/

.footer-grid {
  display: grid;
  justify-items: center;
  gap: 3rem;
  text-align: center;

  @media (min-width: 48em) {
    grid-template-areas: 'info info' 'copyright social';
    grid-template-columns: repeat(2, minmax(0, 1fr));
    justify-items: start;
    text-align: left;
  }

  @media (min-width: 64em) {
    grid-template-areas: 'info social' 'copyright copyright';
  }
}

@media (min-width: 48em) {
  .info {
    grid-area: info;
  }
  .social {
    grid-area: social;
    justify-self: flex-end;
  }
  .copyright {
    grid-area: copyright;
  }
}

@media (min-width: 64em) {
  .social {
    align-self: flex-end;
  }
}
